@model HappySquad.Models.Loot

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Вы действительно хотите удалить это Снаряжение?</h3>
<fieldset>
    <legend>Loot</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Cost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cost)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
