@using HappySquad.Models
@model Roster

@{
    ViewBag.Title = "Создать ростер";
}

<h2>Создать ростер</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Roster</legend>

        <div class="editor-label">
            <h3>Название ростера:</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RosterName)
            @Html.ValidationMessageFor(model => model.RosterName)
        </div>
        <div class="editor-label">
            <h3>Выберете расу:</h3>
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Race, new SelectList(Enum.GetValues(typeof(Race))), new { onchange = "changeRace()" })
            @Html.ValidationMessageFor(model => model.Race)
        </div>
        <hr />

        <div class="HQ">
        </div>
        <p>
            <input type="button" onclick="addUnit('HQ')" value="Добавить HQ" />
        </p>
        <hr />

        <div class="Trpoops">
        </div>
        <p>
            <input type="button" onclick="addUnit('Trpoops')" value="Добавить Trpoops" />
        </p>
        <hr />

        <div class="Elite">
        </div>
        <p>
            <input type="button" onclick="addUnit('Elite')" value="Добавить Elite" />
        </p>
        <hr />

        <div id="cost">
            Цена за ростер: 
        </div>
        <p>
            <input type="submit" class="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var i = 1;
        var TotalCost = 0;
        var raceId;

        $(document).ready(function () {
            addUnit("HQ");
            addUnit("Trpoops");
            addUnit("Trpoops");
            refreshCost();
            raceId = $("#Race")[0].tabIndex;
            $('.submit').click(function () {

                var unitsId = [];
                $("select").each(function (index, domEle) {
                    if (domEle.className == "Units")
                        unitsId.push(domEle.options[this.selectedIndex].id);
                });

                if (unitsId.length == 0) {
                    unitsId = "none";
                }
                var rosterName = $("#RosterName").val();
                $.ajax({
                    type: 'POST',
                    url: "/Roster/Create",
                    data: {
                        raceId: raceId,
                        name: rosterName,
                        unitsId: unitsId.toString()
                    }, dataType: "json"
                });
                return false;
            });

        });

        function changeRace() {
            raceId = $("#Race")[this.selectedIndex].tabIndex;

            while (i > 1) {
                $('.Units:last').remove();
                i--;
            }
            addUnit("HQ");
            addUnit("Trpoops");
            addUnit("Trpoops");
            refreshCost();
        }

        function refreshCost() {
            TotalCost = 0;
            $.each($('.Units'), function () {
                if (isFinite(this.options[this.selectedIndex].value))
                    TotalCost = TotalCost + parseInt(this.options[this.selectedIndex].value);
            });

            $("#cost").text("");
            $("#cost").append('Цена за ростер:' + TotalCost);
        }

        function addUnit(type) {
            $.ajax({
                type: 'POST',
                url: "/Roster/GetLootByUnitId",
                data: {
                    raceId: raceId,
                    type: type
                },
                success: function (data) {
                    var str = "";
                    $.each(data, function () {
                        str = str + '<option value="' + this.Cost + '"id="' + this.Id + '">' + this.Name + '</option>';
                    });
                    $('<p><select onchange="refreshCost()" id="Unit' + i + '"class="Units" name="dynamic[]">' + str + ' </select>').fadeIn('slow').appendTo('.' + type);
                    i++;
                },
                dataType: "json"
            });
        }




        //function setUnitToPos(pos, id) {
        //    $.ajax({
        //        type: 'POST',
        //        url: "/Roster/SetUnitByPos",
        //        data: {
        //            pos: pos,
        //            id: id,
        //        },
        //        success: function () {
        //        },
        //        dataType: "json"
        //    });
        //}

        //function changeUnit(num, unitId) {
        //    $.ajax({
        //        type: 'POST',
        //        url: "/Roster/GetCostById",
        //        data: {
        //            id: unitId
        //        },
        //        success: function (data) {
        //            TotalCost = data;
        //        }
        //    });
        //};
    </script>


}