@using HappySquad.Models
@model Roster

@{
    ViewBag.Title = "Создать ростер";
}

<h2>Создать ростер</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Roster</legend>

        <div class="editor-label">
            <h3>Название ростера:</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RosterName)
            @Html.ValidationMessageFor(model => model.RosterName)
        </div>
        <div class="editor-label">
            <h3>Выберете расу:</h3>
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Race, new SelectList(ViewBag.races, "Value", "Text"), new { onchange = "changeRace()" })
            @Html.ValidationMessageFor(model => model.Race)
        </div>
        <hr />

        <div class="HQ">
        </div>
        <p>
            <input type="button" onclick="addUnit('HQ')" value="Добавить HQ" />
            <input onclick="    remove('HQ')" value="X" type="button" />
            <span id="HQCost">Цена за HQ: 
            </span>
        </p>
        <hr />

        <div class="Troops">
        </div>
        <p>
            <input type="button" onclick="addUnit('Troops')" value="Добавить Troops" />
            <input onclick="remove('Troops')" value="X" type="button" />
            <span id="TroopsCost">Цена за Troops: 
            </span>
        </p>
        <hr />

        <div class="Elite">
        </div>
        <p>
            <input type="button" onclick="addUnit('Elite')" value="Добавить Elite" />
            <input onclick="remove('Elite')" value="X" type="button" />
            <span id="EliteCost">Цена за Elite: 
            </span>
        </p>

        <hr />

        <div class="FastAttack">
        </div>
        <p>
            <input type="button" onclick="addUnit('FastAttack')" value="Добавить Fast Attack" />
            <input onclick="remove('FastAttack')" value="X" type="button" />
            <span id="FastAttackCost">Цена за Fast Attack: 
            </span>
        </p>
        <hr />

        <div class="HeavySupport">
        </div>
        <p>
            <input type="button" onclick="addUnit('HeavySupport')" value="Добавить Heavy Support" />
            <input onclick="remove('HeavySupport')" value="X" type="button" />
            <span id="HeavySupportCost">Цена за HeavySupport: 
            </span>
        </p>
        <hr />

        <div id="Totalcost">
            Цена за ростер: 
        </div>
        <p>
            <input type="submit" class="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var UnitPos = 1;
        var LootPos = 1;
        var raceId = $("select#Race").val();

        // Количество юнитов определенных типов
        // Константы
        var maxHqCount = 2;
        var maxTroopCount = 4;
        var maxEliteCount = 3;
        var maxHeavyCount = 3;
        var maxFastCount = 3;
        // Не константы
        var hqCount = 0;
        var troopCount = 0;
        var eliteCount = 0;
        var heavyCount = 0;
        var fastCount = 0;
        var toTroopsCount = 0;

        var hqCost = 0;
        var troopsCost = 0;
        var eliteCost = 0;
        var heavyCost = 0;
        var fastCost = 0;
        var TotalCost = 0;

        //-----------------------------------

        $(document).ready(function () {
            addUnit("HQ");
            addUnit("Troops");
            addUnit("Troops");
            raceId = 0;

            $('.submit').click(function () {

                var unitsId = [];
                var lottId = [];
                $('select').each(function () {
                    if (this.className == "Units")
                        unitsId.push(this.options[this.selectedIndex].id);
                    else if (this.className == "Loots") {
                        lottId.push(this.options[this.selectedIndex].id);
                    }
                });

                if (unitsId.length == 0) {
                    unitsId = "none";
                }
                alert("Id Unit:" + unitsId);
                var rosterName = $("#RosterName").val();
                $.ajax({
                    type: 'POST',
                    url: "/Roster/Create",
                    data: {
                        raceId: raceId,
                        name: rosterName,
                        unitsId: unitsId.toString(),
                        lootId: lootId.toString()
                    },
                    dataType: "json"
                });
                return false;
            });

        });

        function remove(type) {

            switch (type) {
                case "HQ":
                    if (hqCount > 0) hqCount--;
                    break;
                case "Troops":
                    if (troopCount > 0) troopCount--;
                    break;
                case "Elite":
                    if (eliteCount > 0) eliteCount--;
                    break;
                case "HeavySupport":
                    if (heavyCount > 0) heavyCount--;
                    break;
                case "FastAttack":
                    if (fastCount > 0) fastCount--;
                    break;
                default:
                    ;
                    break;
            }

            $('.' + type).children().last().remove();

            refreshCost();
        }

        function changeRace() {
            raceId = $("select#Race").val();
            hqCount = 0;
            troopCount = 0;
            eliteCount = 0;
            heavyCount = 0;
            fastCount = 0;

            while (UnitPos > 1) {
                $('.UnitsTable:last').remove();
                UnitPos--;
            }
            addUnit("HQ");
            addUnit("Troops");
            addUnit("Troops");
        }

        function changeUnit(unitId, unitType) {
            var table = document.getElementById(unitId + "Table");
            var rowCount = table.rows.length;
            while (rowCount > 1) {
                table.deleteRow(rowCount - 1);
                rowCount--;
            }

            if (unitType == 'HQ') {
                var totroops;
                $("#" + unitId).each(function () {
                    totroops = this.options[this.selectedIndex].attributes.totroops.nodeValue;
                });
                while (toTroopsCount > 0) {
                    $('select').each(function () {
                        if (this.className.toString().indexOf("Unit") != -1 && this.attributes.UnitType.nodeValue.indexOf("Troops") != -1) {
                            $("#" + this.id + " :last").remove();
                            toTroopsCount--;
                        }
                    });
                }

                if (totroops.length != 0) {
                    $.ajax({
                        type: 'POST',
                        url: "/Roster/GetUnitById",
                        data: {
                            unitId: totroops,
                        },
                        success: function (data) {
                            if (data.length != 0) {
                                var unitList = "";
                                $.each(data, function () {
                                    unitList = unitList + '<option value="' + this.Cost + '"UnitId="' + this.Id + '"ToTroops="' + this.ToTroops + '">' + this.Name + '</option>';
                                });
                                $('select').each(function () {
                                    if (this.className.toString().indexOf("Unit") != -1 && this.attributes.UnitType.nodeValue.indexOf("Troops") != -1) {
                                        $("#" + this.id).append($(unitList));
                                    }

                                });
                                toTroopsCount++;
                            }
                        },
                        dataType: "json"
                    });
                }
            }
            refreshCost(unitId);
        }

        function refreshCost(curId) {

            TotalCost = 0;
            hqCost = 0;
            troopsCost = 0;
            eliteCost = 0;
            heavyCost = 0;
            fastCost = 0;
            var curCost = 0;
            $('select').each(function () {
                if (this.className.toString().indexOf("Unit") != -1 || this.className.toString().indexOf("Loot") != -1) {

                    switch (this.attributes.UnitType.nodeValue) {
                        case "HQ":
                            hqCost += parseInt(this.options[this.selectedIndex].value);
                            break;
                        case "Troops":
                            troopsCost += parseInt(this.options[this.selectedIndex].value);
                            break;
                        case "Elite":
                            eliteCost += parseInt(this.options[this.selectedIndex].value);
                            break;
                        case "HeavySupport":
                            heavyCost += parseInt(this.options[this.selectedIndex].value);
                            break;
                        case "FastAttack":
                            fastCost += parseInt(this.options[this.selectedIndex].value);
                            break;
                    }

                    if (this.id == curId) {
                        curCost = this.value;
                    }
                }
            });
            TotalCost = hqCost + troopsCost + eliteCost + heavyCost + fastCost;
            $("#HQCost").text("");
            $("#HQCost").append('Цена за HQ: ' + hqCost);
            $("#TroopsCost").text("");
            $("#TroopsCost").append('Цена за Troops: ' + troopsCost);
            $("#EliteCost").text("");
            $("#EliteCost").append('Цена за Elite: ' + eliteCost);
            $("#HeavySupportCost").text("");
            $("#HeavySupportCost").append('Цена за Heavy Support: ' + heavyCost);
            $("#FastAttackCost").text("");
            $("#FastAttackCost").append('Цена за Fast Attack: ' + fastCost);
            $("#" + curId + "Cost").text("");
            $("#" + curId + "Cost").append('Points: ' + curCost);
            $("#Totalcost").text("");
            $("#Totalcost").append('Цена за ростер: ' + TotalCost);
        }

        function addUnit(unitType) {

            if ((unitType == "HQ" && hqCount < maxHqCount) ||
                (unitType == "Troops" && troopCount < maxTroopCount) ||
                (unitType == "Elite" && eliteCount < maxEliteCount) ||
                (unitType == "HeavySupport" && heavyCount < maxHeavyCount) ||
                (unitType == "FastAttack" && fastCount < maxFastCount)) {
                $.ajax({
                    type: 'POST',
                    url: "/Roster/AddUnit",
                    data: {
                        race: raceId,
                        type: unitType
                    },
                    success: function (data) {
                        if (data.length != 0) {
                            var unitList = "";
                            var addLootButton = '<input type="button" onclick="addLoot(' + UnitPos + ', \'' + unitType + '\')" value="Добавить Лута" />';
                            var curCost = data[0].Cost;
                            $.each(data, function () {
                                unitList = unitList + '<option value="' + this.Cost + '"UnitId="' + this.Id + '"ToTroops="' + this.ToTroops + '">' + this.Name + '</option>';
                            });
                            $('<table id = "Unit' + UnitPos + 'Table" class="UnitsTable"  name="dynamic[]" >  <tr>' +
                                '<td><select onchange="changeUnit(\'Unit' + UnitPos + '\',\'' + unitType + '\')" id="Unit' + UnitPos + '"class="Units" UnitType = "' + unitType + '" name="dynamic[]">' + unitList + ' </select></td><td>' + addLootButton + '</td> <td id="Unit' + UnitPos + 'Cost">Points: ' + curCost + '</td>' +
                                ' </tr></table>').fadeIn('slow').appendTo('.' + unitType);
                            refreshCost('Unit' + UnitPos);
                            UnitPos++;

                            switch (unitType) {
                                case "HQ":
                                    hqCount++;
                                    break;
                                case "Troops":
                                    troopCount++;
                                    break;
                                case "Elite":
                                    eliteCount++;
                                    break;
                                case "HeavySupport":
                                    heavyCount++;
                                    break;
                                case "FastAttack":
                                    fastCount++;
                                    break;
                                default:
                                    ;
                                    break;
                            }
                        }
                    },
                    dataType: "json"
                });
            }
        }

        function addLoot(unitPos, unitType) {
            var unitId = $('#Unit' + unitPos + ' option:selected').attr("UnitId");
            var lootId = [];
            $('select').each(function () {
                if (this.className.toString().indexOf("Loot") != -1 && this.attributes.Owner.nodeValue == "Unit" + unitPos) {
                    lootId.push(this.options[this.selectedIndex].attributes.Lootid.nodeValue);
                }
            });

            $.ajax({
                type: 'POST',
                url: "/Roster/AddLoot",
                data: {
                    unitId: unitId,
                    lootIds: lootId.toString()
                },
                success: function (data) {
                    if (data.length != 0) {
                        var curCost = data[0].Cost;
                        var lootList = "";
                        $.each(data, function () {
                            lootList = lootList + '<option value="' + this.Cost + '"Lootid="' + this.Id + '">' + this.Name + '</option>';
                        });

                        $('<tr class = "OwnerUnit' + unitPos + '"><td></td><td><select onchange="refreshCost(\'Loot' + LootPos + '\')" id="Loot' + LootPos + '" Owner="Unit' + unitPos + '" UnitType = "' + unitType + '" class="Loots" name="dynamic[]">' + lootList + ' </select></td><td id="Loot' + LootPos + 'Cost">Points: ' + curCost + '</td></tr>').fadeIn('slow').appendTo("#Unit" + unitPos + "Table");
                        refreshCost("Loot" + LootPos);
                        LootPos++;
                    }
                },
                dataType: "json"
            });
        }

    </script>
}