@using HappySquad.Models
@model Roster

@{
    ViewBag.Title = "Создать ростер";
}

<h2>Создать ростер</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Roster</legend>

        <div class="editor-label">
            <h3>Название ростера:</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RosterName)
            @Html.ValidationMessageFor(model => model.RosterName)
        </div>
        <div class="editor-label">
            <h3>Выберете расу:</h3>
        </div>
        <div class="editor-field">

            @Html.DropDownListFor(model => model.Race, new SelectList(ViewBag.races, "Value", "Text"), new { onchange = "changeRace()" })
            @Html.ValidationMessageFor(model => model.Race)
        </div>
        <hr />

        <div class="HQ">
        </div>
        <p>
            <input type="button" onclick="addUnit('HQ')" value="Добавить HQ" />
        </p>
        <hr />

        <div class="Trpoops">
        </div>
        <p>
            <input type="button" onclick="addUnit('Trpoops')" value="Добавить Trpoops" />
        </p>
        <hr />

        <div class="Elite">
        </div>
        <p>
            <input type="button" onclick="addUnit('Elite')" value="Добавить Elite" />
        </p>
        <hr />

        <div id="cost">
            Цена за ростер: 
        </div>
        <p>
            <input type="submit" class="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var i = 1;
        var TotalCost = 0;
        var raceId = $("select#Race").val();

        $(document).ready(function () {
            addUnit("HQ");
            addUnit("Trpoops");
            addUnit("Trpoops");
            raceId = 0;

            $('.submit').click(function () {

                var unitsId = [];

                $('select').each(function () {
                    if (this.className == "Units")
                        unitsId.push(this.options[this.selectedIndex].id);
                });

                if (unitsId.length == 0) {
                    unitsId = "none";
                }
                alert("Id Unit:" + unitsId);
                var rosterName = $("#RosterName").val();
                $.ajax({
                    type: 'POST',
                    url: "/Roster/Create",
                    data: {
                        raceId: raceId,
                        name: rosterName,
                        unitsId: unitsId.toString()
                    },
                    dataType: "json"
                });
                return false;
            });

        });


        function changeRace() {
            raceId = $("select#Race").val();

            while (i > 1) {
                $('.Units:last').remove();
                i--;
            }
            addUnit("HQ");
            addUnit("Trpoops");
            addUnit("Trpoops");
        }

        function refreshCost() {
            TotalCost = 0;
            $('select').each(function () {
                if (this.className.toString().indexOf("Unit") != -1 || this.className.toString().indexOf("Loot") != -1) {
                    TotalCost += parseInt(this.options[this.selectedIndex].value);
                }
            });
            $("#cost").text("");
            $("#cost").append('Цена за ростер: ' + TotalCost);
        }

        function addUnit(type) {
            $.ajax({
                type: 'POST',
                url: "/Roster/AddUnit",
                data: {
                    race: raceId,
                    type: type
                },
                success: function (data) {
                    var unitList = "";
                    var addLootButton = '<input type="button" onclick="addLoot(' + i + ')" value="Добавить Лута" />';
                    $.each(data, function () {
                        unitList = unitList + '<option value="' + this.Cost + '"UnitId="' + this.Id + '">' + this.Name + '</option>';
                    });

                    $('<table id = "UnitTable' + i + '">  <tr>' +
                        '<td><select onchange="refreshCost()" id="Unit' + i + '"class="Units" name="dynamic[]">' + unitList + ' </select></td><td>' + addLootButton + '</td>' +
                        ' </tr></table>').fadeIn('slow').appendTo('.' + type);
                    i++;
                    refreshCost();
                },
                dataType: "json"
            });
        }

        function addLoot(i) {
            var unitId = $('#Unit' + i + ' option:selected').attr("UnitId");

            $.ajax({
                type: 'POST',
                url: "/Roster/AddLoot",
                data: {
                    unitId: unitId
                },
                success: function (data) {
                    var lootList = "";
                    $.each(data, function () {
                        lootList = lootList + '<option value="' + this.Cost + '"Lootid="' + this.Id + '">' + this.Name + '</option>';
                    });

                    $('<tr><td></td><td><select onchange="refreshCost()" id="Loot' + i + '"class="Loot" name="dynamic[]">' + lootList + ' </select></td></tr>').fadeIn('slow').appendTo("#UnitTable" + i);
                    i++;
                    refreshCost();
                },
                dataType: "json"
            });
        }
    </script>
}