@model HappySquad.Models.Relation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Relation</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitId)
            @Html.ValidationMessageFor(model => model.UnitId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LootId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LootId)
            @Html.ValidationMessageFor(model => model.LootId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddLootId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddLootId)
            @Html.ValidationMessageFor(model => model.AddLootId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExLootId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExLootId)
            @Html.ValidationMessageFor(model => model.ExLootId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
