@model IEnumerable<HappySquad.Models.Relation>

@{
    ViewBag.Title = "Соответствия Юнит-Лут";
}

<h2>Соответствия Юнит-Лут</h2>

<p>
    @Html.ActionLink("Добавить Соответствие", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UnitId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LootId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddLootId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExLootId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LootName)
            </td>
            <td>
                @foreach (var addloot in item.AddLootName)
                {
                    @addloot <br />
                }
            </td>
            <td>
                @foreach (var exloot in item.ExLootName)
                {
                
                    @exloot <br />
                }
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
